{% extends "base/base.html" %}
{% block title %}Posts{% endblock %}
{% block body %}
    <div class="container p-2">
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Posts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
            </ul>
            </div>
        </div>
        {% for post in post_list %}
            <div class="media" style="margin: 10px 0;">
              <img src="../../../{{ post.image }}" class="img-thumbnail align-self-center" alt="Ash.jpg" style="max-width: 20%; height: auto">
              <div class="media-body border border-info">
                <nav aria-label="breadcrumb" dir="rtl">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'categories' post.category.slug %}">{{ post.category.slug }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'post' post.slug %}"><b>{{ post.title }}</b></a></li>
                  </ol>
                </nav>
                <div class="text-right" dir="rtl">
                    <div class="overflow-auto" style="height: 120px">{{ post.content }}</div>
                </div>
              </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
